<launch>
    <arg name="mapfile" default="/home/unitree/map.yaml"/>

    <!-- map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg mapfile)"/>
	
    <!-- amcl -->
    <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>

    <!-- move base -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen" respawn="false"/>

    <!-- testing -->
    <node pkg="robot_state_publilsher" type="robot_state_publilsher" name="robot_state_publilsher">
        <param name="publish_frequency" type="double" value="50"/>
        <param name="tf_prefix" value="alien"/>
    </node>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find alien_locationing)/alien_nav.rviz"/>

    <!-- rqt graph -->
    <node pkg="rqt_graph" type="rqt_graph" name="rqt_graph"/>
</launch>
